*{box-sizing: border-box;}

@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}

:root{
    --color-primary: #7656f0
}

body{
    display: grid;
    place-items: center; /*se centran tyodos los componetes*/
    margin: 0;
    height: 100vh; /*separacion de arriba  100*/
    padding: 0 24px;
    background-color: var(--color-primary); /*color de fondo*/
    background-image: url(/img/fondo.svg); /*imagen de fondo*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f9f9;   /*color de letra de "Login", "Enter your credentials"*/
    animation: rotate 6s infinite alternate linear;
}

body::after{
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 35%); /*se crea una tipo sombra */
}

.login-card{
    position: relative;
    z-index: 1; /*le quita la sombra negra*/
    width: 100%;  /*lo mueve a la izquierda */
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 20px;
    background: rgb(24 21 6 /66%); /*crea un cuadro negro*/
    backdrop-filter: blur(10px);
    text-align: center;  /*se centra en medio del cuadro negro*/
}

.login-card > h2 {
    font-size: 36px;  /*tama del texto "Login" */
    font-weight: 400; /*grsor de letra*/
    margin: 0 0 12px; 
}

.login-card > h3{
    color: rgb(255 255 255/ 38%); /*color de letra de "Enter your credentials"*/
    margin: 0 0 48px; /*separacion de la parte de abajo*/
    font-weight: 400; /*grsor de letra*/
    font-size: 16px; /*tamano de letra*/
}

.login-form{
    width: 100%; /*ancho de recuadro y boton*/
    margin: 0;
    display: grid;
    gap: 16px; /*separacion de cada contendor "User name","Password"*/
}

.login-form > :is(input, button){
    width: 100%;
    height: 56px; /*ancho de contenedor y boton */
    border-radius: 20px; /*bode del rcontenedor y boton*/
    border: 0;
}

.login-form > input{
    color: rgb(255 255 255/96%); /*color de letra al escribir */
    background: rgb(255 255 255/8%); /*color del contenedor*/
    font-family: inherit;  /*estylo de letra*/
    font-size: 16px; /*tamano de letra */
    padding: 0 16px; /*separacion de ambos lados del contenedor al escribir*/
}

.login-form > input::placeholder{
    color: rgb(255 255 255/38%);
}

.login-form > button{
    cursor: pointer;
    width: 100%;
    height: 56px;/*ancho del boton*/
    padding: 0 16px;
    background: #056CF2; /*color del boton*/
    color: #f9f9f9; /*color de letra*/
    border: 0;
    font-family: inherit; /*estilo de letra del boton*/
    font-size: 18px; /*tamano de letra*/
    font-weight: 400;
    text-align: center;
    transition: all 0.375s;
}

.login-form > a {
    color: var(--color-primary); /*color del texto "Forgot your password"*/
    font-size: 16px; /*tamano de letra*/
    text-align: left;
    text-decoration: none; /*se quita la raya del link*/
    margin-bottom: 30px; /*separacion hacia abajo del etxto*/
}

@media (width >= 628px){
    .login-card{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0 44px;
        width: 50%;
        max-width: 500px;
        min-width: auto;
        max-width: 500px;
        display: flex;
        border-radius: 35px 0px 0px 35px;
        flex-direction: column;
        justify-content: center;
    }
}

@media (width >= 448px){
    .login-card{
        margin: 0;
        width: 70%;
        min-width: 400px;
    }
}

